.otp-verify-modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 2%), 0px 1px 1px 0px rgb(0 0 0 / 0%),
    0px 0px 2px 0px rgb(0 0 0 / 5%) !important;
  padding: 32px;
}

.otp-verify-modal .login-title {
  font-family: "Euclid Circular A" !important;
  font-size: 1.9rem !important;
  color: #0f244c !important;
}

.otp-verify-modal .submit-login:hover {
  background-color: #244583;
}

 .validate-error {
  margin: 0;
  margin-top: 6px;
  color: #bf1650;
  font-size: 15px;
}

 .validate-error::before {
  display: inline;
  content: "⚠ ";
}
